[Desktop Entry]
Type=Application
Version=1.0
Name=Los centros que atiendo
GenericName=Atender otro centro de salud
Comment=Ver cómo están los centros y entrar a trabajar en el suyo
Exec=redhornoma-centros
Icon=redhornoma-centros
Terminal=false
Categories=System;Network;
Keywords=centros;hornoma;entrar;remoto;salmi;soaps;pantalla;trabajar;otro;lejos;
StartupNotify=true
