[Desktop Entry]
Type=Application
Name=Puesto para un visitante
Comment=Preparar el centro para el portátil de un médico que viene de visita
Exec=x-terminal-emulator -e bash -c "sudo redhornoma-visitante; echo; read -p 'Pulsa Intro para cerrar'"
Icon=redhornoma-visitante
Terminal=false
Categories=System;Network;
Keywords=puesto;visitante;medico;dentista;portatil;
