[Desktop Entry]
Type=Application
Version=1.0
Name=Poner en marcha esta computadora
GenericName=Asistente de puesta en marcha
Comment=Decir qué será esta computadora en el centro y dejarla lista
Exec=redhornoma-asistente
Icon=preferences-system
Terminal=false
Categories=System;Settings;
Keywords=asistente;configurar;papel;servidor;puesto;nuevo;empezar;windows;
StartupNotify=true
